<h5>Login</h5>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" formControlName="email" [ngClass]="initValidation('email')">
      <label class="active">E-mail</label>
      <app-campo-control-erro [mostrarErro]="validatorForm.showMessageError('email', 'required')" msgErro="E-mail é obrigatório">
      </app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="validatorForm.showMessageError('email', 'emailInvalid')" msgErro="E-mail inválido">
      </app-campo-control-erro>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field col s12">
      <input id="senha" type="password" class="validate" formControlName="password" [ngClass]="initValidation('password')">
      <label class="active">Senha</label>
      <app-campo-control-erro [mostrarErro]="validatorForm.showMessageError('password', 'required')" msgErro="A senha é obrigatória">
      </app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="validatorForm.showMessageError('password', 'minLength')" msgErro="A senha deve ter no mínimo 6 caracteres">
      </app-campo-control-erro>
    </div>
  </div>
  
  <button class="btn waves-effect waves-light" type="submit" [disabled]="!formulario.valid">
    Login
    <i class="material-icons right">send</i>
  </button>

</form>
